<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsione Stats</title>
</head>
<body>
    <h1>Previsione Stats</h1>
    <form method="post" action="/results">
        <input type="hidden" name="choice" value="pred_stats">
        
        <label for="giocatore">Inserisci il nome del giocatore:</label>
        <input type="text" name="giocatore" id="giocatore"><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
